fastapi
uvicorn
sqlalchemy
python-multipart
pydantic
pydantic-settings
python-dotenv
requests
numpy
scipy
pandas
APScheduler
aiohttp
email-validator
nepse-api
nest-asyncio
beautifulsoup4
lxml
selenium
webdriver-manager
nepse-client
gunicorn
python-telegram-bot
